html {
	box-sizing: border-box;
	font-size: 16px;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
	margin: 0;
	padding: 0;
	font-weight: normal;
}

ol,
ul {
	list-style: none;
}

img {
	max-width: 100%;
	height: auto;
}

#drum-machine {
	max-width: 80vw;
	height: 80vh;
	margin-left: 10vw;
	margin-top: 5vw;
	display: grid;
	grid-gap: 7px;
	grid-template-columns: repeat(4, 1fr);
	border: 1px solid red;
	grid-template-areas: ". . . logo"
		"drummachine drummachine drummachine  power"
		"drummachine drummachine drummachine  volume"
		"drummachine drummachine drummachine  volume"
		"drummachine drummachine drummachine  volume"
		"drummachine drummachine drummachine  volume";

}

.drum-machine {
	grid-area: drummachine;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 10px;
}

.drum-item {
	background-color: rgb(180, 175, 175);
	box-shadow: 3px 2px 1px 1px rgb(65, 64, 64);
	border-radius: 2px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.power {
	grid-area: power;
}

.container-logo {
	grid-area: logo;
	background-color: blue;

}

.active {
	transition: all .1s ease-in-out;
	background-color: orange !important;
	transform: scale(1.07);

}